* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --secondary: rgb(224, 219, 219);
  --primary: rgb(166, 214, 233);
  --primary-dark: rgb(71, 138, 216);
}
body {
  line-height: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}
#home {
  height: 200vh;
  width: 100%;
  position: relative;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.space {
  margin: 10px;
  padding: 10px;
}
.img-size {
  width: 500px;
}
.btn {
  padding: 15px 30px;
  background: var(--primary);
  border: none;
  margin: 20px;
}
.navbar {
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
}
.title {
  background: var(--secondary);
  padding: 10px 20px;
}
li {
  list-style: none;
  margin: 10px;
  padding: 10px 20px;
  background: var(--secondary);
}
a {
  text-decoration: none;
}
.section {
  position: relative;
  top: 20%;
  background: url('Ngo/Group 6.png') no-repeat center center/cover;
  height: 50%;
  width: 100%;
}
.web-info h1 {
  margin: 15px;
  margin-left: 20px;
}
.web-info p {
  margin-left: 20px;
}
.container1 {
  position: absolute;
  z-index: 1;
  top: -100px;
  justify-content: space-between;

  /* background: url('Ngo/Vector1.png'); */
  height: 50%;
  width: 80%;
}
.web-info {
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  color: var(--primary-dark);
}
.container2 {
  position: absolute;
  z-index: 1;
  top: 60%;
  justify-content: space-between;
  /* background: url('Ngoector1.png'); */
  height: 80%;
  width: 90%;
}
.cont-left,
.cont-right {
  flex-direction: column;
  flex: 0.5;
}
.cont-left {
  margin-left: 60px;
  align-items: flex-start;
}
.cont-right {
  margin-top: 120px;
}
.cont-right .btn {
  margin-left: 80px;
}

.about-info {
  margin: 60px 0;
}
.donations {
  height: 200px;
  width: 350px;
  background: var(--primary);
  margin-left: 50px;
  margin-bottom: 50px;
  border-radius: 40px 40px 40px 0;
}
.donations span {
  /* content: ''; */
  padding: 12px 20px;
  background: white;
  margin: 30px;
  transform: rotateY('90deg');
}
